language: julia
notifications:
  email: peter.zion@gmail.com
julia:
    - 0.4
    - 0.5
#    - nightly
before_install:
  - sudo apt-get update -qq -y
  - sudo apt-get install libpcre3-dev -y
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
script:
  - julia -e 'Pkg.init()'
  - julia -e 'Pkg.clone(pwd()); Pkg.build("LibBSON")'
  - julia -e 'Pkg.test("LibBSON", coverage=true)'
after_success:
- julia -e 'cd(Pkg.dir("LibBSON")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
